In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv(r'D:\Srishti\Stats\Naive_Bayes.csv', header=None)

In [31]:
columns = ['Outlook','Temp','Humidity','Windy','Play','extra']

In [32]:
df.columns = columns

In [33]:
df =df.drop(['extra'],axis=1)

In [34]:
colval = []
for col in df.columns[:-1] :
    for val in np.unique(df[col]) :
        colval.append((col,val))

TypeError: '<' not supported between instances of 'str' and 'float'

In [16]:
df_counts = pd.DataFrame(colval, columns=['attrib', 'value'])

In [189]:
df_counts

     attrib     value
0   Outlook  Overcast
1   Outlook     Rainy
2   Outlook     Sunny
3      Temp      Cool
4      Temp       Hot
5      Temp      Mild
6  Humidity      High
7  Humidity    Normal
8     Windy     False
9     Windy      True

In [190]:
def getLikelihoodCount(attrib, value, classvalue ) :
    return df.loc[ (df[attrib] == value) & (df.Play == classvalue), attrib].count()

In [191]:
df_counts['playYes'] = df_counts.apply(lambda row : getLikelihoodCount(row['attrib'], row['value'], 'Yes'), axis=1)
df_counts['playNo']  = df_counts.apply(lambda row : getLikelihoodCount(row['attrib'], row['value'], 'No'), axis=1)

In [1]:
df_counts

NameError: name 'df_counts' is not defined

In [192]:
def getEvidenceCount(attrib, value) :
    return df.loc[ df[attrib] == value, attrib].count()
    
def getClassCount(classname, classvalue) :
    return df.loc[ (df[classname]==classvalue), classname].count()

In [320]:
weather  = {'Outlook' : 'Rainy', 'Temp' : 'Hot', 'Humidity' : 'Normal', 'Windy' : False}
#weather  = {'Outlook' : 'Sunny'}
totcount = len(df)

In [301]:
def getProb(weather, class_) :
    prd = []
    featureName = 'play' + class_ 
    for k, v in weather.items() :
        prd.append(df_counts.loc[(df_counts.attrib==k) & (df_counts.value==v), featureName].values[0] / getClassCount('Play', class_))
    prd.append(getClassCount('Play', class_)/totcount) 
    print(np.product(prd))
    return np.product(prd)

In [302]:
def getResult(weather) :
    print(weather)
    return np.where(getProb(weather, 'Yes')>getProb(weather, 'No'), 'Play', 'No Play').tolist()

In [303]:
getResult(weather)

{'Outlook': 'Rainy', 'Temp': 'Hot', 'Humidity': 'Normal', 'Windy': False}
0.014109347442680773
0.006857142857142858

'Play'

In [387]:
df_counts

     attrib     value  playYes  playNo
0   Outlook  Overcast        4       0
1   Outlook     Rainy        2       3
2   Outlook     Sunny        3       2
3      Temp      Cool        3       1
4      Temp       Hot        2       2
5      Temp      Mild        4       2
6  Humidity      High        3       4
7  Humidity    Normal        6       1
8     Windy     False        6       2
9     Windy      True        3       3

In [382]:
def getProb1(weather, class_) :
    prd = []
    featureName = 'play' + class_ 
    for k, v in weather.items() :
        prd.append(df_counts.loc[(df_counts.attrib==k) & (df_counts.value==v), featureName].values[0] / getClassCount('Play', class_))
    prd.append(getClassCount('Play', class_)/totcount) 
    print(np.product(prd))
    nume = np.product(prd)
    prd1 = []
    for k, v in weather.items() :
        x1 = df_counts.loc[(df_counts.attrib==k) & (df_counts.value==v), 'playYes'].values[0] 
        x2 = df_counts.loc[(df_counts.attrib==k) & (df_counts.value==v), 'playNo'].values[0] 
        prd1.append((x1+x2)/totcount)           
    print(np.product(prd1))
    
    print(np.product(prd)/np.product(prd1))
    demo = np.product(prd1)
    print(nume, (nume/demo)*demo )
    print(prd, prd1)

In [386]:
getProb1(weather, 'Yes'), getProb1(weather, 'No')

0.2142857142857143
0.35714285714285715
0.6
0.2142857142857143 0.21428571428571427
[0.3333333333333333, 0.6428571428571429] [0.35714285714285715]
0.14285714285714288
0.35714285714285715
0.4
0.14285714285714288 0.14285714285714288
[0.4, 0.35714285714285715] [0.35714285714285715]

(None, None)

In [391]:
9/14*3/9,5/14

(0.2142857142857143, 0.35714285714285715)

In [385]:
weather  = {'Outlook' : 'Rainy', 'Temp' : 'Hot', 'Humidity' : 'Normal', 'Windy' : False}
weather  = {'Outlook' : 'Sunny'}
totcount = len(df)

In [357]:
df_counts

     attrib     value  playYes  playNo
0   Outlook  Overcast        4       0
1   Outlook     Rainy        2       3
2   Outlook     Sunny        3       2
3      Temp      Cool        3       1
4      Temp       Hot        2       2
5      Temp      Mild        4       2
6  Humidity      High        3       4
7  Humidity    Normal        6       1
8     Windy     False        6       2
9     Windy      True        3       3